
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
   background-image: url('Images/hbobg.png');
    color: white;
}
.movie-trailer {
    margin-top: 20px;
    text-align: center;
}

.movie-trailer-video {
    max-width: 100%;
    height: 330px;
    
}

.movie-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

/* Movie Header (Poster, Title, Rating) */
.movie-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.movie-poster-container {
    flex: 1;
    max-width: 300px;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-info {
    flex: 2;
    margin-left: 20px;
}

.movie-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.movie-rating {
    font-size: 18px;
    margin: 10px 0;
    border-radius:10px;
}

.rating-label {
    font-weight: bold;
}

.movie-genre,
.movie-release-year {
    font-size: 16px;
    margin: 5px 0;
}

/* Movie Description */
.movie-description {
    margin-top: 40px;
}
.user-rating {
    margin-top: 20px;
}

#user-rating {
    width: 80px;
    padding: 5px;
    margin-right: 10px;
}

#submit-rating {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#watch-movie {
    
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#submit-rating:hover, #watch-movie:hover {
    background-color: #0056b3;
}

.comments-section {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.comments-section h2 {
    margin-bottom: 10px;
}

#comments-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#comments-list li {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
}

#new-comment {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#submit-comment {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#submit-comment:hover {
    background-color: #0056b3;
}

.movie-rating-stars {
    display: inline-block;
    color: gold;
    font-size: 20px;
    margin-right: 5px;
}
